* {
    margin: 0;
    padding: 0;
}

html,
body,
.cover {
    height: 100%;
    width: 100%;
}

.cover{
    position: relative;
    overflow: hidden;
    background:url("../images/moon and stars.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: left;
}

body {
    height: auto;
    margin: 0;
}

.ocean {
    position: absolute;
    width: 100%;
    min-height: 100%;
}

.wave {
    background: rgba(98, 128, 173, 0.71);
    display: inline-block;
    height: 10%;
    width: 8px;
    position: absolute;
    animation-name: dostuff;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    z-index: 29;
    bottom: 0;
}

.ocean:nth-child(2) .wave {
    background: rgba(25, 59, 111, 0.77);
    z-index: 30;
}

@keyframes dostuff {
    0% {
        height: 10%;
    }
    50% {
        height: 15%;
    }
    100% {
        height: 10%;
    }
}

.ship {
    position: absolute;
    height: 550px;
    right: 2%;
    bottom: 3%;
    /* animation-name: shipwave; */
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    /* transform: rotate(5deg); */
}

@keyframes shipwave {
    0% {
        transform: rotate(5deg);
        bottom:0;
    }
    25%{
        transform: rotate(1deg);
        bottom:2%;
    }
    50% {
        transform: rotate(-5deg);
        bottom:3%;
    }
    75%{
        transform: rotate(-1deg);
        bottom:2%;
    }
    0% {
        transform: rotate(5deg);
        bottom:0;
    }
}

.ship img {
    display: block;
    height: inherit;
    /* filter:invert(100%); */
}

.cover-text{
    font-family: "Helvetica";
    font-size: 100px;
    color:rgba(225, 225, 225, 0.58);
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
}

#timer{
    font-family: monospace;
    font-size:50px;
    color:#121519;
    text-transform: uppercase;
    display: block;
    transform: translate(-50%,-50%);
    top:50%;
    left: 20%;
    position: absolute;
    padding: 10px;
    background: #91A2A9;
    max-width: 40%;
}
